<section class="py-20 bg-black">
  <div class="container mx-auto px-4">
    {% if page.url == "/" %}
        <a href="/bands/" class="text-center mx-auto block sn">
            <button class="border border-white rounded p-2 h-16">
                <h2 class="text-3xl uppercase  text-center">Bands</h2>
            </button>
        </a>
        {% endif %}
    {# <a href="/bands/"><h2 class="text-3xl uppercase mb-12 text-center">Bands</h2></a> #}
    <div class="grid sm:grid-cols-2 mt-6 md:grid-cols-3 lg:grid-cols-4 gap-8">
      {% for band in collections.bands | slice(0, 4) %}
      {# {% set band = band %} #}
      {% include "bandCard.njk" %}
      {% endfor %}
    </div>
    <div class="text-center mt-8">
      <a href="/bands/" class="inline-block bg-light text-black px-6 py-2 rounded font-bold uppercase hover:bg-white transition">See All Bands</a>
    </div>
  </div>
</section>