<footer class="py-12 bg-black border-t border-light">
        <div class="container mx-auto px-4">
            <div class="flex flex-col md:flex-row justify-between items-center">
                <div class="mb-6 md:mb-0">
                    <div class="" style="width: 80px; height: 80px;">
                        <img src="imgs/logo.jpg" alt="Granite Tomb Logo" class="mx-auto block">
                    </div>
                </div>
                <div class="text-center md:text-right">
                    <p class="uppercase text-sm mb-4"> 2023 Granite Tomb Records</p>
                    <div class="flex justify-center md:justify-end space-x-6">
                        <a href="#" class="text-white hover:text-muted transition">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="text-white hover:text-muted transition">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="text-white hover:text-muted transition">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="#" class="text-white hover:text-muted transition">
                            <i class="fab fa-spotify"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>