<section id="home" class="min-h-screen flex flex-col justify-start">
    <div class="container mx-auto px-4 flex flex-col items-center text-center h-full pt-12">
        <img src="imgs/logo1.svg" alt="Granite Tomb Logo" class="mx-auto block mb-8" />
        <h1 class="text-4xl uppercase mb-6 pt-10">Granite Tomb Records</h1>
        {# <p class="text-lg max-w-2xl mx-auto text-muted">The home of the most brutal and uncompromising bands in the scene since 20XX</p> #}
    </div>
</section>