---
pagination:
  data: collections.bands
  size: 10
  alias: bands
permalink: "/bands/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
title: "All Bands"
layout: "layouts/base.njk"
---

{% include "bandsList.njk" %}