---
title: "Granite Tomb Records"
layout: layouts/base.njk
---

{% include "heroSection.njk" %}
{# {% include "aboutSection.njk" %} #}
<!-- -->
{% include "showsSection.njk" %}
<!-- -->
{% include "bandsSection.njk" %}
{% include "contactSection.njk" %}
